* {
  transition: 0.05s ease all;
}

body {
  background-color: #008080;
}

.typed-cursor {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: "> ";
}

.container {
  width: 65%;
}

.nav-item.h5 {
  margin: 20px;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 112.5;
}

.inconsolata2 {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 50;
}

.non-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::selection {
  background-color: #ffdd33;
  color: #222222;
}

::-moz-selection {
  background-color: #ffdd33;
  color: #222222;
}

#name {
  font-size: 90px;
  margin-top: 70px;
  color: white;
  display: flex;
  align-items: center;
}

#data-box {
  border-top: 2px solid #eeebeb;
  height: 100%;
  width: auto;
  background-color: #010080;
  padding: 40px;
  font-size: 19px;
  color: white;
}

#data-box a {
  color: #7cc3e9;
}

#data-box a:hover {
  color: #06ec0e;
}

#data-box ul {
  display: inline;
}

#blink1 {
  background-color: #ffffff;
  height: 90px;
  width: 40px;
  display: inline-block;
}

#bio {
  color: rgb(231, 230, 230);
}

#bio a {
  color: rgb(251, 151, 151);
}

#bio a:hover {
  color: greenyellow;
}

#bio {
  font-size: 21px;
  width: 80%;
}

#win-buttons {
  width: auto;
  height: 30px;
}

#blink2 {
  background-color: rgb(209, 205, 205);
  height: 20px;
  width: 10px;
  display: inline-block;
}

#blank {
  height: 19px;
  width: 10px;
  display: inline-block;
}

#projects {
  font-size: 30px;
  margin-top: 100px;
  color: rgb(0, 0, 0);
}

#contacttitle {
  font-size: 30px;
  margin-top: 100px;
  color: rgb(0, 0, 0);
}

#contact {
  margin-bottom: 100px;
}

#contact h4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#contact h4 a {
  color: #f0864d;
  font-weight: 500;
  margin: 20px;
}

.window {
  margin-top: 40px;
  border: 5px solid #d3d0d0;
}

.menu {
  background: linear-gradient(90deg, #838385 0%, #cdc6c6 79%);
  display: flex;
  height: fit-content;
  justify-content: space-between;
}

.card {
  border-top: 3px solid #eeebeb;
  background-color: rgb(241, 235, 235);
  border-radius: 0;
}

.card-title {
  font-weight: bold;
}

.card-body .btn-sm {
  border: 2px solid #92eac0;
  margin: 3px;
  background-color: rgb(230, 226, 226);
}

.card-body .btn-sm:hover {
  border: 2px solid #92aeea;
  margin: 3px;
  cursor: initial;
}

.btn-primary {
  background-color: #747fe0;
  border-radius: 0;
  padding: 5px 15px;
  border-right: 3px solid #797878;
  border-left: 3px solid #e2dfdf;
  border-top: 3px solid #e2dfdf;
  border-bottom: 3px solid #797878;

  &:hover {
    background-color: #747fe0;
    border-right: 3px solid #797878;
    border-left: 3px solid #e2dfdf;
    border-top: 3px solid #e2dfdf;
    border-bottom: 3px solid #797878;
  }

  &:active {
    background-color: #747fe0 !important;
    border-right: 3px solid #e2dfdf !important;
    border-left: 3px solid #797878 !important;
    border-top: 3px solid #797878 !important;
    border-bottom: 3px solid #e2dfdf !important;
  }
}

.btn-secondary {
  border-radius: 0;
  padding: 5px 15px;
  border-right: 3px solid #797878;
  border-left: 3px solid #e2dfdf;
  border-top: 3px solid #e2dfdf;
  border-bottom: 3px solid #797878;

  &:hover {
    background-color: var(--bs-btn-bg);
    border-right: 3px solid #797878;
    border-left: 3px solid #e2dfdf;
    border-top: 3px solid #e2dfdf;
    border-bottom: 3px solid #797878;
  }

  &:active {
    border-right: 3px solid #e2dfdf !important;
    border-left: 3px solid #797878 !important;
    border-top: 3px solid #797878 !important;
    border-bottom: 3px solid #e2dfdf !important;
  }
}

.card-img {
  object-fit: cover;
  height: 100%;
  border-radius: 0;
  border: 3px solid rgb(133, 129, 129);
}

.contacts {
  margin-bottom: 400px;
}

footer div section a i {
  padding: 10px;
}

.fa-twitter {
  background: skyblue;
}

.fa-instagram {
  background: rgb(234, 135, 209);
}

.fa-linkedin {
  background: rgb(89, 127, 216);
}

footer .fa-github {
  background: white;
  border: 2px solid black;
  border-style: inset;
  padding: 8px;
}

.fa-youtube {
  background: rgb(227, 77, 77);
}

.fa-twitter:hover {
  background: rgb(95, 196, 236);
}

.fa-instagram:hover {
  background: rgb(247, 94, 209);
}

.fa-linkedin:hover {
  background: rgb(54, 103, 218);
}

.fa-youtube:hover {
  background: rgb(224, 52, 52);
}

footer .fa-github:hover {
  background: rgb(223, 221, 221);
  border: 2px solid black;
  border-style: inset;
  padding: 8px;
}

footer div section {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  #name {
    font-size: 13vw;
  }

  #blink1 {
    height: 13vw;
    width: 5.8vw;
  }

  #bio {
    font-size: 4.5vw;
    width: 100%;
  }

  #data-box {
    padding: 10px;
  }

  .nav-item.h5 {
    margin: 5px;
  }

  .container {
    width: 100%;
  }
}
